<% provide(:title, "Set Language") %>

<h1 class='text-center mb-4'>Set language</h1>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_for(:lang, url: set_lang_path) do |f| %>

      <%= f.label 'I speak ' %>
      <%= f.select(:source, [%w[Portuguese pt], %w[Spanish es]], {}, class: 'form-control mb-4') %>

      <%= f.label 'I want to improve my vocabulary on' %>
      <%= f.select(:target, [%w[English en]], {}, class: 'form-control  mb-4') %>

      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>