<% provide(:title, 'Sign up') %>

<h1 class='text-center mb-4'>Sign up</h1>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control mb-3' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control mb-3' %>

      <%= f.submit 'Create my account', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>