<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
  <%= link_to "Vocabi app", root_path, id: "logo", class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#main-navbar"
          aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav ml-auto">
      <% unless current_user %>
        <li class="nav-item"><%= link_to "Home", root_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to "Login", login_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to "Sign up", signup_path, class: 'nav-link' %></li>
      <% else %>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <%= current_user.name %>
            <span class='badge badge-light'><%= current_user.score %></span>
          </a>
        </li>
        <li class="nav-item"><%= link_to "Language", set_lang_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to "Logout", logout_path, method: :delete, class: 'nav-link' %></li>
      <% end %>
    </ul>
  </div>
</nav>